name: Security Audit

on:
  schedule:
    - cron: '0 0 * * 0'  # Every Sunday at midnight
  push:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
  workflow_dispatch:

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: evidentum-io/atl-core
          path: atl-core
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: ln -s $GITHUB_WORKSPACE/atl-core ../atl-core
      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
